body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


  background-color: rgb(203, 184, 150);
  color: white;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 3em;
  color: rgb(34, 33, 33);
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  background-color: rgb(143, 123, 89);
  color: rgb(23, 22, 22);
  padding: 10px 20px;
  margin: 10px;
  border: rgb(21, 20, 20);
  font-weight: 550;
}

.wallet-button,
.info-section {
  margin-top: 20px;
}

.info-section {
  display: none;
  text-align: left;
}

.info-section.active {
  display: block;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}